.page {
    width: 720px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.add-ingredient {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 67px;
}

.add-ingredient >input {
    border-radius: 6px;
    width: 400px;
    padding: 9px 13px 9px 13px;
    border: solid;
    border-width: 1px;
    border-color: rgba(209, 213, 219, 1);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    outline: none;
}
.add-ingredient > button {
    font-size: 14px;
    color: white;
    width: 183px;
    border: none;
    border-radius: 6px;
    background-color: rgba(20, 20, 19, 1);
    box-shadow: 0px 1px 2px rgba(20, 20, 19, 1);
}

.list-container {
    width: 594px;
}

.get-recipe-container {
    width: 594px;
    height: 109px;
    background-color: rgba(240, 239, 235, 1);
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 56px;
}

.info-get-recipe {
  
    width: 340px;
    
    gap: 8px
}
.info-get-recipe >h3 {
    font-size: 18px;
}
.info-get-recipe > p {
    color: rgba(107, 114, 128, 1);
    font-size: 14px;
}
.get-recipe-container > button {
    font-size: 14px;
    padding: 9px 17px 9px 17px;
    border: none;
    border-radius: 6px;
    background-color: rgba(209, 117, 87, 1);
    color: white;
    font-weight: 500;
    height: 38px;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
}